{% extends 'base.html.twig' %}

{% block title %}Inicio - Gestión{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<nav>
		<ul>
			<a href="{{ path('app_proyecto_index') }}">Proyectos</a>
			<a href="{{ path('app_viajero_index') }}">Viajeros</a>
		</ul>
	</nav>
	<main>
		<h1>Bienvenido a Gestión de viajes y actividades</h1>
	</main>
{% endblock %}

