{% extends 'base.html.twig' %}

{% block title %}Inicio - Gestión{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<main>
		<h1>Bienvenido a Gestión de viajes y actividades</h1>
		<p>Esta es la página de inicio. Aquí puedes añadir enlaces, menús o resumenes.</p>
	</main>
{% endblock %}

